# 實際檔名.env，內容與 .env.example 相同，但變數值替換為實際的 Oracle 資料庫帳號和密碼。
# 開發環境 Oracle 資料庫
ORACLE_DEV_USERNAME=your_dev_username
ORACLE_DEV_PASSWORD=your_dev_password

# 測試環境 Oracle 資料庫
ORACLE_TEST_USERNAME=your_test_username
ORACLE_TEST_PASSWORD=your_test_password